@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Roboto:wght@400;700&display=swap');

:root{
    --cor-de-fundo: #000000;
    --lilas: #D3A9CE;
    --amora: #724652;
    --bordo: #B2234A;  
    --roxo: #6E5764;
    --musgo: #8D963E;
    --branco: #ffffff;
    --verde: rgba(141, 150, 62, 0.6);
    --botao-ativo: rgba(129, 73, 207, 0.589);
    --botao-inativo: #17102be7;
    --texto-fundo: rgba(23, 16, 43, 0.774);
}

body{
 background-color: var(--cor-de-fundo);
 color: var(--roxo);
 font-family: "Roboto", sans-serif;
 background-image: url('https://cdn.pixabay.com/photo/2023/07/30/13/04/ai-generated-8158903_1280.png');
 background-repeat: no-repeat;
 background-size: cover;
}

.conteudo-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal{
  text-align: left;
  width: 100%;
  font-size: 32px;
}

.titulo-principal span{
  color: var(--verde);
}

.botao{
  font-family: "Roboto", "sans-serif";
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 16px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--botao-ativo);
  border-left: 2px solid var(--botao-ativo);
  border-right: 2px solid var(--botao-ativo);
  border-top: none;
}

.botao:first-child{
  border-radius: 40px 40px 0 0;
}

.botoes{
  display: block;
}

.botao.ativo{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--musgo);
}

.abas-textos{
  background-color: var(--texto-fundo);
  padding: 40px;
  border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
  display: block;
}

.aba-conteudo{
  display: none;
}

.aba-conteudo-titulo-principal{
  font-size: 28px;
  text-align: center;
  color: var(--lilas);
}

.aba-conteudo-titulo-secundario{
  text-align: center;
  color: var(--amora);
}

.contador{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contador-digito{
  padding: 0 16px;
  text-align: center;
  min-width: 100px;
}

.contador-digito-numero{
  color: var(--musgo);
  font-size: 80px;
  margin: 0;
}

.contador-digito-texto{
  color: var(--bordo);
  font-size: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .botoes{
    display: flex;
  }
  .botao:first-child{
    border-radius: 40px 0 0 0;
  }
  .botao:last-child{
    border-radius: 0 40px 0 0;  
  }
}
